@mixin fontStyle {
    color: $text-color ;
    font-family: $font;
}


.product-body{    
    background-image: linear-gradient(to right ,rgba(4,9,30,0.7),rgba(43, 58, 119, 0.7)),url('../images/notepad-932864_1920.jpg');
    background-size:cover ;
    background-position: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 100px;

    h1{
        @include fontStyle();
        font-size: 30px;
    }

    .product-container {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        margin-left: 5%;
        text-align: center;
        padding: 30px 0;
    
        .products{    
            width: 25%;
            height: 25%; 
            background: $text-color; 
            margin: 20px; 
            box-sizing: border-box;
        
            .image-container { 
                height: 80%; 
                overflow: hidden; 
                    
                img{
                    width: 100%;
                    
                }
            }
            .image-description { 
                padding:4% 0; 
                width: 100%; 

                p{
                    font-family: $font;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                }
            }

            &:hover{
                transform: scale(1.05);
            }
        }

        
    }

}

@media screen and (max-width:700px) {
    .product-body{
        h1{
            font-size: 25px;
        }

        .product-container{
            flex-direction: column;
            align-items: center;
            
            .products{
                width: 40%;
                height: 40%;
            }
        }

        
    }
}

@media screen and (min-width:700px) and (max-width:800px) {
    .product-body{
        .product-container{
            .products{
                width: 28%;
            }
        }
    }
}





